{% load static %}


{% block header-slider %}
    <header class="header">
        <div class="container">
            <div class="header__slider">
                <div class="header__slider__item" style="
                background: url({% static 'img/woman.png' %}), 
                    url({% static 'img/header-rectangle-big.svg' %}); 
                    ">
                    <div class="header__slider__item__content">
                        <div class="header__slider__item__content__navigate">
                            <p class="header__slider__item__content__navigate__slides num">
                                <span class="num__this">01</span>/<span class="num__all">03</span>
                            </p>
                            <div class="header__slider__item__content__navigate__next">
                            </div>
                        </div>
                        <h1 class="header__slider__item__content__header">Получайте точный результат от современной лаборатории</h1>
                        <p class="header__slider__item__content__text">Центр семейной генетики, где доступно и быстро мы подберем и выполним оптимальный генетический тест, отвечающий на поставленные вопросы</p>
                        <a href="" class="header__slider__item__content__button">Подробнее об услугах</a>
                        <a href="" class="header__slider__item__content__link">Мне необходимо сдать анализы.
                            Куда обратиться?</a>
                    </div>
                </div>
                <div class="header__slider__item" style="
                background: url({% static 'img/woman.png' %}), 
                    url({% static 'img/header-rectangle-big.svg' %});
                    ">
                    <div class="header__slider__item__content">
                        <div class="header__slider__item__content__navigate">
                            <p class="header__slider__item__content__navigate__slides num">
                                <span class="num__this">01</span>/<span class="num__all">03</span>
                            </p>
                            <div class="header__slider__item__content__navigate__next" type="button">
                            </div>
                        </div>
                        <h1 class="header__slider__item__content__header">Получайте точный результат от современной лаборатории</h1>
                        <p class="header__slider__item__content__text">Центр семейной генетики, где доступно и быстро мы подберем и выполним оптимальный генетический тест, отвечающий на поставленные вопросы</p>
                        <a href="" class="header__slider__item__content__button">Подробнее об услугах</a>
                        <a href="" class="header__slider__item__content__link">Мне необходимо сдать анализы.
                            Куда обратиться?</a>
                    </div>
                </div>
                <div class="header__slider__item" style="
                background: url({% static 'img/woman.png' %}), 
                    url({% static 'img/header-rectangle-big.svg' %});
                    ">
                    <div class="header__slider__item__content">
                        <div class="header__slider__item__content__navigate">
                            <p class="header__slider__item__content__navigate__slides num">
                                <span class="num__this">01</span>/<span class="num__all">03</span>
                            </p>
                            <div class="header__slider__item__content__navigate__next">
                            </div>
                        </div>
                        <h1 class="header__slider__item__content__header">Получайте точный результат от современной лаборатории</h1>
                        <p class="header__slider__item__content__text">Центр семейной генетики, где доступно и быстро мы подберем и выполним оптимальный генетический тест, отвечающий на поставленные вопросы</p>
                        <a href="" class="header__slider__item__content__button">Подробнее об услугах</a>
                        <a href="" class="header__slider__item__content__link">Мне необходимо сдать анализы.
                            Куда обратиться?</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header-slider %}