{% load static %}


<!--Блок как сдается анализ-->
<div class="how">
    <div class="container">
        <h3 class="how__subtitle">Как сдается анализ</h3>
        <h2 class="how__title">5 простых шагов</h2>
        <div class="how__track track">
            <div class="track__row row">
                <div class="row__item">
                    <div class="row__item__ico"><img src="{% static 'img/pin.svg' %}" alt=""></div>
                    <h4 class="row__item__header">Первый шаг</h4>
                    <p class="row__item__description">Найти <a href="">адрес лаборатории</a>
                        на нашем сайте</p>
                </div>
                <div class="row__item">
                    <div class="row__item__ico"><img src="{% static 'img/lab.svg' %}" alt=""></div>
                    <h4 class="row__item__header">Второй шаг</h4>
                    <p class="row__item__description">Сдать анализы в
                        нашей лаборатории</p>
                </div>
                <div class="row__item">
                    <div class="row__item__ico"><img src="{% static 'img/time.svg' %}" alt=""></div>
                    <h4 class="row__item__header">третий шаг</h4>
                    <p class="row__item__description">Ожидать результата
                        анализа из лаборатории</p>
                </div>
            </div>
            <div class="track__row row">
                <div class="row__item">
                    <div class="row__item__ico"><img src="{% static 'img/conversation.svg' %}" alt=""></div>
                    <h4 class="row__item__header">пятый шаг</h4>
                    <p class="row__item__description">Записаться на консультацию
                        по результатам исследования</p>
                </div>
                <div class="row__item">
                    <div class="row__item__ico"><img src="{% static 'img/plan.svg' %}" alt=""></div>
                    <h4 class="row__item__header">четвертый шаг</h4>
                    <p class="row__item__description">Получить письмо с результатом анализа
                        на email. Если информация не поступила,
                        свяжитесь с <a href="">клиникой в Москве</a></p>
                </div>
            </div>
            <a href="" class="how__track__button">Заявка на анализ</a>
        </div>
    </div>
</div>
<!--Конец блока-->