@charset "UTF-8";
@font-face {
  font-family: 'Ubuntu';
  src: local("Ubuntu Light"), local("Ubuntu-Light"), url("../../fonts/ubuntulight.woff2") format("woff2"), url("../../fonts/ubuntulight.woff") format("woff"), url("../../fonts/ubuntulight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: local("Ubuntu Light Italic"), local("Ubuntu-LightItalic"), url("../../fonts/ubuntulightitalic.woff2") format("woff2"), url("../../fonts/ubuntulightitalic.woff") format("woff"), url("../../fonts/ubuntulightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Ubuntu';
  src: local("Ubuntu"), url("../../fonts/ubuntu.woff2") format("woff2"), url("../../fonts/ubuntu.woff") format("woff"), url("../../fonts/ubuntu.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: local("Ubuntu Medium"), local("Ubuntu-Medium"), url("../../fonts/ubuntumedium.woff2") format("woff2"), url("../../fonts/ubuntumedium.woff") format("woff"), url("../../fonts/ubuntumedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: local("Ubuntu Bold"), local("Ubuntu-Bold"), url("../../fonts/ubuntubold.woff2") format("woff2"), url("../../fonts/ubuntubold.woff") format("woff"), url("../../fonts/ubuntubold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Vollkorn';
  src: url("../../fonts/Vollkorn-Regular.eot");
  src: local("Vollkorn"), local("../../fonts/Vollkorn-Regular"), url("../../fonts/Vollkorn-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Vollkorn-Regular.woff") format("woff"), url("../../fonts/Vollkorn-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Vollkorn';
  src: url("../../fonts/Vollkorn-Semibold.eot");
  src: local("Vollkorn Bold"), local("Vollkorn-Semibold"), url("../../fonts/Vollkorn-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Vollkorn-Semibold.woff") format("woff"), url("../../fonts/Vollkorn-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

.header {
  background: url("../../img/header-rectangle-small.svg"), url("../../img/header-bg-1.svg");
  background-repeat: no-repeat;
  background-size: 12%, cover;
  background-position: 4% 40%, center center; }
  .header__slider__item {
    flex: 1 1 auto;
    padding: 65px 0 57px 0;
    background-repeat: no-repeat, no-repeat, no-repeat no-repeat !important;
    background-position: 100% 100%, 90% 45%, 0 40%, 50% 50% !important; }
    .header__slider__item__content__navigate {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header__slider__item__content__navigate__next {
        font-size: 12px;
        color: #BB669B;
        text-decoration: underline;
        font-family: 'Ubuntu';
        font-weight: 400;
        font-style: normal; }
    .header__slider__item__content__header {
      margin-top: 180px;
      font-family: 'Vollkorn';
      font-weight: 400;
      font-style: normal;
      color: #252525;
      font-size: 52px;
      line-height: 121%;
      max-width: 65%; }
    .header__slider__item__content__text {
      font-family: 'Ubuntu';
      font-weight: 300;
      font-style: italic;
      font-size: 16px;
      max-width: 50%;
      line-height: 23.68px;
      margin: 29px 0 35px 0; }
    .header__slider__item__content__button {
      display: inline-block;
      color: #ffffff;
      background: #BB669B;
      font-size: 15px;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal;
      padding: 16px 40px; }
      .header__slider__item__content__button:visited, .header__slider__item__content__button:active, .header__slider__item__content__button:hover {
        color: #ffffff; }
    .header__slider__item__content__link {
      position: relative;
      display: block;
      margin-top: 124px;
      font-family: 'Ubuntu';
      font-weight: 500;
      font-style: normal;
      color: #BB669B;
      font-size: 14px;
      line-height: 19px;
      text-decoration-line: underline;
      max-width: 30%;
      padding: 0 0 0 30px; }
      .header__slider__item__content__link:visited, .header__slider__item__content__link:active, .header__slider__item__content__link:hover {
        color: #BB669B; }
      .header__slider__item__content__link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        background: url("../../img/next-arrow.svg") center no-repeat; }

.num {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  line-height: 38px; }
  .num__this {
    color: #BB669B;
    font-size: 27px; }
  .num__all {
    font-size: 23px; }

.slick-arrows {
  position: absolute; }

.slick-dots {
  display: none !important; }

.slick-prev {
  position: absolute;
  top: 70px;
  left: 0;
  background-color: transparent;
  color: #BB669B;
  text-decoration: underline;
  transform: translateY(70%);
  padding-left: 50px; }
  .slick-prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: url("../../img/next-arrow.svg") center no-repeat;
    transform: translateX(100%) rotate(180deg); }

.slick-next {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: transparent;
  color: #BB669B;
  text-decoration: underline;
  transform: translateY(70%);
  padding-right: 10px; }
  .slick-next::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: url("../../img/next-arrow.svg") center no-repeat;
    transform: translateX(100%); }

.search {
  color: #ffffff;
  background: url("../../img/search-bg.png") center no-repeat;
  background-size: cover;
  padding: 38px 0; }
  .search__header {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 29.45px;
    color: #252525;
    color: #ffffff; }
  .search__text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px; }
  .search__item {
    display: flex;
    position: relative; }
    .search__item::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../../img/lens.svg") center no-repeat;
      z-index: 10;
      transform: translateX(50%); }
    .search__item__input {
      position: relative;
      padding: 20px 0 20px 60px;
      background: #D785B8;
      flex: 1 1 auto;
      color: #ffffff;
      font-family: 'Ubuntu';
      font-weight: 300;
      font-style: normal; }
    .search__item__button {
      padding: 18px 29px;
      background: #BB669B;
      color: #ffffff;
      border: 2px solid #FFFFFF;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal; }
  .search__description {
    font-size: 12px;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
    margin-top: 8px;
    line-height: 14px; }
  .search__list {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    width: 80.6%;
    background: #BB669B;
    z-index: 20; }
    .search__list__item {
      display: block;
      padding: 0px 10px;
      font-family: 'Ubuntu';
      font-weight: 300;
      font-style: normal;
      margin-bottom: 2px; }
      .search__list__item:hover {
        cursor: pointer;
        background: #D785B8; }
      .search__list__item_not-found:hover {
        cursor: default;
        background: #BB669B; }
    .search__list__link {
      display: block;
      font-family: 'Ubuntu';
      font-weight: 500;
      font-style: normal;
      color: #ffffff;
      font-size: 14px;
      line-height: 19px;
      padding: 10px 0; }
      .search__list__link:visited, .search__list__link:active, .search__list__link:hover {
        color: #ffffff; }

.researches {
  padding: 56px 0 0 0; }
  .researches__header {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 29.45px;
    color: #252525;
    max-width: 50%;
    margin-bottom: 40px; }
  .researches__items {
    display: flex;
    flex-wrap: wrap; }
    .researches__items__item {
      flex: 0 1 31.33%;
      padding: 65px 35px 56px 35px; }
    .researches__items .research {
      position: relative;
      border: 10px solid #ECECEC;
      margin-right: 16px;
      margin-bottom: 35px; }
      .researches__items .research:last-child {
        margin-right: 0; }
      .researches__items .research__header {
        margin-bottom: 20px;
        font-family: 'Ubuntu';
        font-weight: 700;
        font-style: normal;
        font-size: 17px;
        line-height: 21.23px;
        color: #252525; }
      .researches__items .research__underline {
        border: 1px solid #ECECEC;
        height: 1px;
        width: 100%; }
      .researches__items .research__name {
        display: block;
        margin: 10px 0 12px 0;
        font-family: 'Ubuntu';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        color: #BB669B; }
        .researches__items .research__name:hover {
          text-decoration: underline; }
      .researches__items .research.active {
        border: 10px solid #BB669B; }
        .researches__items .research.active::before {
          background: url("../../img/gene-active.svg") center no-repeat, #ffffff; }
      .researches__items .research::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 85px;
        height: 80px;
        background-size: contain;
        padding: 10px;
        z-index: 10;
        transform: translate(50%, -50%); }
      .researches__items .research:nth-child(1)::before {
        background: url("../../img/gene.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(1).active::before {
        background: url("../../img/gene-active.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(2)::before {
        background: url("../../img/lense.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(2).active::before {
        background: url("../../img/lense-active.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(3)::before {
        background: url("../../img/pregnant.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(3).active::before {
        background: url("../../img/pregnant-active.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(4)::before {
        background: url("../../img/dna.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(4).active::before {
        background: url("../../img/dna-active.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(5)::before {
        background: url("../../img/chemistry.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(5).active::before {
        background: url("../../img/chemistry-active.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(6)::before {
        background: url("../../img/virus.svg") center no-repeat, #ffffff; }
      .researches__items .research:nth-child(6).active::before {
        background: url("../../img/virus-active.svg") center no-repeat, #ffffff; }

.questions {
  padding: 65px 0 84px 0; }
  .questions__header {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 29.45px;
    color: #252525;
    margin-bottom: 24px; }
  .questions .list {
    counter-reset: li;
    list-style: none; }
    .questions .list__item {
      padding: 30px 0px 30px 0px;
      border-top: 1px solid #ECECEC;
      border-bottom: 1px solid #ECECEC;
      transition: all 0.3s ease 0s; }
      .questions .list__item.active {
        background: #BB669B;
        border-top: 1px solid #BB669B;
        border-bottom: 1px solid #BB669B; }
      .questions .list__item__question {
        padding-left: 80px;
        position: relative;
        font-family: 'Ubuntu';
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        line-height: 18.85px;
        display: flex;
        justify-content: space-between; }
        .questions .list__item__question.active {
          color: #ffffff; }
          .questions .list__item__question.active::before {
            color: #F6BDE1; }
        .questions .list__item__question:hover {
          cursor: pointer; }
        .questions .list__item__question::before {
          content: "0" counter(li);
          counter-increment: li;
          position: absolute;
          color: #EFEFEF;
          font-size: 37px;
          font-family: 'Ubuntu';
          font-weight: 700;
          font-style: normal;
          top: 0;
          left: 0;
          transform: translateX(50%); }
        .questions .list__item__question__button {
          position: relative;
          font-size: 14px;
          font-family: 'Ubuntu';
          font-weight: 500;
          font-style: normal;
          color: #BB669B;
          margin: 0 0 0 55px;
          padding: 0 40px 0 0; }
          .questions .list__item__question__button:hover {
            cursor: pointer; }
          .questions .list__item__question__button::after {
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            content: "";
            width: 10px;
            height: 20px;
            background: url("../../img/arrow-down.svg") center no-repeat;
            transform: translateX(-150%); }
          .questions .list__item__question__button.active {
            color: #F6BDE1; }
            .questions .list__item__question__button.active::after {
              background: url("../../img/arrow-up.svg") center no-repeat; }
      .questions .list__item__answer {
        padding-left: 80px;
        max-width: 80%; }
        .questions .list__item__answer_text {
          color: #ffffff;
          font-family: 'Ubuntu';
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          line-height: 19.71px; }
        .questions .list__item__answer_header {
          color: #F6BDE1;
          font-family: 'Ubuntu';
          font-weight: 700;
          font-style: normal;
          font-size: 14px;
          line-height: 19.71px;
          margin-bottom: 10px; }
  .questions__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px; }
    .questions__row__button {
      padding: 16px 50px;
      color: #ffffff;
      background: #BB669B;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal;
      font-size: 15px; }
      .questions__row__button:visited, .questions__row__button:active, .questions__row__button:hover {
        color: #ffffff; }
    .questions__row__link {
      position: relative;
      font-family: 'Ubuntu';
      font-weight: 500;
      font-style: normal;
      color: #BB669B;
      font-size: 14px;
      line-height: 19px;
      text-decoration-line: underline;
      padding: 0 0 0 30px; }
      .questions__row__link:visited, .questions__row__link:active, .questions__row__link:hover {
        color: #BB669B; }
      .questions__row__link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        background: url("../../img/next-arrow.svg") center no-repeat; }

.how {
  background: url("../../img/how-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 64px 0 72px 0;
  text-align: center; }
  .how__title {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    line-height: 53.01px;
    color: #ffffff;
    margin-bottom: 61px; }
  .how__subtitle {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 21.2px;
    color: #ffffff; }
  .how__track {
    background: url("../../img/line.svg") center no-repeat;
    background-position: 90% 100%; }
    .how__track__button {
      padding: 16px 50px;
      color: #ffffff;
      background: #BB669B;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal; }
      .how__track__button:visited, .how__track__button:active, .how__track__button:hover {
        color: #ffffff; }
  .how .track {
    position: relative; }
    .how .track__row {
      display: flex; }
    .how .track .row {
      margin-bottom: 45px; }
      .how .track .row__item {
        margin-right: 83px; }
        .how .track .row__item:first-child {
          margin-left: 65px; }
        .how .track .row__item__ico {
          display: flex;
          justify-content: center; }
          .how .track .row__item__ico img {
            padding: 28px;
            background: #BB669B;
            border-radius: 100%;
            display: block;
            position: relative; }
        .how .track .row__item__header {
          font-family: 'Ubuntu';
          font-weight: 700;
          font-style: normal;
          font-size: 20px;
          color: #ffffff;
          line-height: 23.56px;
          margin: 12px 0 5px 0;
          text-transform: uppercase; }
        .how .track .row__item__description {
          font-family: 'Ubuntu';
          font-weight: 400;
          font-style: normal;
          font-size: 16px;
          line-height: 22.45px;
          color: #ffffff; }
          .how .track .row__item__description a {
            position: relative;
            font-family: 'Ubuntu';
            font-weight: 500;
            font-style: normal;
            color: #BB669B;
            font-size: 14px;
            line-height: 19px;
            text-decoration-line: underline;
            padding: 0 0 0 30px;
            padding: 0; }
            .how .track .row__item__description a:visited, .how .track .row__item__description a:active, .how .track .row__item__description a:hover {
              color: #BB669B; }
            .how .track .row__item__description a::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 20px;
              height: 100%;
              background: url("../../img/next-arrow.svg") center no-repeat; }
            .how .track .row__item__description a::before {
              display: none; }
      .how .track .row:nth-child(1) {
        margin-top: 61px;
        margin-bottom: 75px; }
      .how .track .row:nth-child(2) {
        margin-bottom: 75px; }
        .how .track .row:nth-child(2) .row__item:first-child {
          margin: 0;
          max-width: 228px;
          margin-right: 60px;
          margin-left: 230px; }
        .how .track .row:nth-child(2) .row__item:last-child {
          max-width: 315px; }

.news {
  padding: 62px 0 80px 0;
  background: #FAFAFA; }
  .news__header {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 29.45px;
    color: #252525;
    margin-bottom: 33px; }
  .news .slider__item {
    max-width: 50%;
    margin-right: 24px; }
  .news .slider .slide__content {
    display: flex;
    flex-direction: column; }
    .news .slider .slide__content__image {
      width: 100%;
      height: 260px;
      position: relative;
      z-index: 9; }
    .news .slider .slide__content__text {
      position: relative;
      padding: 22px 29px;
      max-width: 95%;
      margin: 0 auto;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
      z-index: 10;
      transform: translateY(-10%);
      background: #fff; }
      .news .slider .slide__content__text__header {
        font-family: 'Vollkorn';
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        line-height: 22.4px;
        color: #252525;
        margin-bottom: 12px; }
      .news .slider .slide__content__text__description {
        color: #848484;
        font-family: 'Ubuntu';
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 19.6px;
        margin-bottom: 20px; }
      .news .slider .slide__content__text__more {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .news .slider .slide__content__text__more__button {
          padding: 16px 50px;
          color: #ffffff;
          background: #BB669B;
          font-family: 'Ubuntu';
          font-weight: 700;
          font-style: normal;
          padding: 10px 20px;
          font-size: 13px;
          font-family: 'Ubuntu';
          font-weight: 500;
          font-style: normal; }
          .news .slider .slide__content__text__more__button:visited, .news .slider .slide__content__text__more__button:active, .news .slider .slide__content__text__more__button:hover {
            color: #ffffff; }
        .news .slider .slide__content__text__more__date {
          position: relative;
          font-family: 'Ubuntu';
          font-weight: 400;
          font-style: normal;
          font-size: 13px;
          color: #848484;
          line-height: 19.4px;
          padding-left: 22px; }
          .news .slider .slide__content__text__more__date::before {
            content: "";
            position: absolute;
            display: block;
            left: 0;
            transform: translateY(10%);
            width: 15px;
            height: 15px;
            background: url("../../img/calendar.svg") center no-repeat; }
  .news__button {
    text-align: center;
    margin-top: 113px; }
    .news__button__link {
      padding: 16px 50px;
      color: #ffffff;
      background: #BB669B;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal;
      font-size: 15px; }
      .news__button__link:visited, .news__button__link:active, .news__button__link:hover {
        color: #ffffff; }
  .news__navigate, .partners__navigate {
    position: relative;
    text-align: center;
    transform: translateY(100%); }
    .news__navigate button, .partners__navigate button {
      transform: translateY(-350%); }

.researches__header {
  font-family: 'Vollkorn';
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
  line-height: 29.45px;
  color: #252525; }

.sub-sub__list__item a {
  position: relative;
  display: flex;
  background: #C682AC;
  color: #ffffff;
  padding: 14px 0 14px 0;
  align-items: center; }
  .sub-sub__list__item a::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8px;
    background: #ffffff; }

.sub-sub__list__item__name {
  position: relative;
  display: inline;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  max-width: 595px;
  line-height: 126.3%;
  padding-left: 21px; }

.sub-sub__list__item__days {
  position: relative;
  display: block;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 0 39px 0 127px;
  max-width: 80px;
  line-height: 17,68px; }
  .sub-sub__list__item__days::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: -30%;
    transform: translateY(-50%); }

.sub-sub__list__item__price {
  display: block;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17.68px;
  max-width: 80px; }

.about {
  margin-bottom: 80px;
  padding-top: 50px; }
  .about__header {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 29.45px;
    color: #252525;
    margin-bottom: 22px; }

.feedback {
  text-align: center;
  background: url("../../img/feedback-bg.png") center no-repeat;
  color: #ffffff;
  padding: 54px 0 61px 0; }
  .feedback__title {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 29.45px;
    color: #252525;
    color: #ffffff;
    margin-bottom: 8px; }
  .feedback__subtitle {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18.8px;
    margin-bottom: 46px; }

#form__name {
  background: url("../../img/user.svg") right no-repeat; }

#form__phone {
  background: url("../../img/telephone.svg") right no-repeat; }

#form__email {
  background: url("../../img/mail.svg") right no-repeat; }

#form__name, #form__phone, #form__email {
  background-position: 95% 50%; }

.partners {
  padding: 61px 0 92px 0; }
  .partners__header {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 29.45px;
    color: #252525;
    margin-bottom: 47px; }
  .partners__slider {
    display: flex; }
  .partners__item {
    padding: 0 10px; }
    .partners__item__content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 120px; }

.research-method {
  padding: 50px 0 70px 0; }
  .research-method__list__text {
    margin-top: 30px; }
  .research-method__methods {
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
    padding: 15px 0; }
  .research-method__label {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 29.45px;
    color: #252525; }
  .research-method__research {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    line-height: 31.58px;
    color: #BB669B; }
  .research-method__view {
    margin: 13px 0 8.42px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .research-method__view p {
      color: #000000;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal;
      font-size: 25px;
      line-height: 31.58px; }
  .research-method__price {
    margin-left: 16px;
    padding-left: 16px;
    margin-right: 17px;
    position: relative; }
    .research-method__price::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      background-color: #000000;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      transform: translate(-50%, -25%); }
  .research-method__application {
    padding: 16px 50px;
    color: #ffffff;
    background: #BB669B;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-style: normal; }
    .research-method__application:visited, .research-method__application:active, .research-method__application:hover {
      color: #ffffff; }

.sidebar {
  position: sticky;
  max-width: 320px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
  top: 0;
  left: 0;
  padding: 0 30px;
  margin: -20px 0 0 0; }
  .sidebar.active {
    text-align: center;
    padding: 15px; }
    .sidebar.active .sidebar__container {
      max-width: 100%;
      margin: 0; }
    .sidebar.active .sidebar__logo {
      background: url("../../img/small-logo.svg");
      width: 66px;
      height: 64px; }
      .sidebar.active .sidebar__logo img {
        opacity: 0;
        display: none; }
    .sidebar.active .sidebar__nav__item::before {
      left: -23%; }
    .sidebar.active .sidebar__nav__item__text {
      opacity: 0;
      display: none; }
    .sidebar.active .sidebar__open i {
      transform: rotate(0deg); }
    .sidebar.active .sidebar__search__text {
      display: none; }
    .sidebar.active .sidebar__search__input__item {
      display: none; }
    .sidebar.active .sidebar__search__input__button {
      background: #fff;
      color: #000000;
      border: none;
      padding: 0;
      margin-top: 72px; }
    .sidebar.active .sidebar__contacts {
      position: relative;
      top: 15px;
      left: 0;
      margin: 0 -15px;
      padding: 99.5px 0; }
      .sidebar.active .sidebar__contacts__full {
        display: none; }
      .sidebar.active .sidebar__contacts__small {
        display: block;
        transform: rotate(-90deg); }
        .sidebar.active .sidebar__contacts__small__text {
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          text-align: center;
          line-height: 16px; }
  .sidebar__open {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 385px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 0px 16px 16px 0px;
    width: 9px;
    height: 70px;
    z-index: 20;
    transform: translateX(100%); }
    .sidebar__open i {
      transform: rotate(180deg); }
    .sidebar__open:hover {
      cursor: pointer; }
  .sidebar__container {
    max-width: 260px;
    margin: 0 auto; }
  .sidebar__logo {
    display: flex;
    justify-content: center;
    margin-top: 19px; }
  .sidebar__nav__item {
    color: #383838;
    padding: 16.5px 0;
    position: relative; }
    .sidebar__nav__item i {
      margin-right: 11px; }
    .sidebar__nav__item.active a {
      color: #BB669B; }
    .sidebar__nav__item.active i {
      margin-right: 18px; }
    .sidebar__nav__item.active::before {
      content: "";
      display: block;
      position: absolute;
      background: #BB669B;
      height: 26px;
      width: 5px;
      top: 25%;
      left: -12%; }
  .sidebar__search__text {
    margin-bottom: 8px;
    color: #414141;
    font-size: 15px; }
  .sidebar__search__input {
    margin-bottom: 26px;
    position: relative; }
    .sidebar__search__input__item {
      border: 1px solid #E0E0E0;
      padding: 13px 70px 12px 15px; }
    .sidebar__search__input__button {
      background: #BB669B;
      color: #ffffff;
      padding: 12px;
      border: 1px solid #BB669B;
      font-size: 14px; }
    .sidebar__search__input__button {
      display: inline-block; }
  .sidebar__contacts {
    background-color: #BB669B;
    color: #ffffff;
    padding: 28px 0;
    margin: 0 -30px; }
    .sidebar__contacts__text {
      margin-bottom: 11px;
      font-size: 13px; }
    .sidebar__contacts__phone {
      margin-bottom: 7px;
      font-size: 20px;
      font-weight: 700; }
    .sidebar__contacts__email {
      margin-bottom: 23px; }
    .sidebar__contacts__address {
      font-size: 14px;
      line-height: 18.9px;
      max-width: 190px; }
    .sidebar__contacts__small {
      display: none; }
  .sidebar__list {
    width: 100%; }

.footer {
  padding: 41px 0 31px 0;
  background: #2E2E2E; }

.row {
  display: flex; }
  .row:first-child {
    margin-bottom: 57px; }
  .row__column {
    flex: 1 1 25%; }
    .row__column:nth-child(2) {
      text-align: center; }
    .row__column__title {
      color: #D7D7D7;
      font-family: 'Ubuntu';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 17.77px;
      margin-bottom: 10px; }
    .row__column__socials {
      font-size: 25px; }
      .row__column__socials i {
        color: #ffffff; }
      .row__column__socials a:nth-child(2) {
        margin: 0 14px; }
    .row__column__adress {
      font-family: 'Ubuntu';
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
      line-height: 18.9px;
      color: #ffffff; }
    .row__column__phone {
      display: block;
      color: #ffffff;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal;
      font-size: 20px;
      line-height: 22.98px;
      margin-bottom: 3px;
      text-align: end; }
      .row__column__phone:active, .row__column__phone:visited, .row__column__phone:hover {
        color: #ffffff; }
    .row__column__mail {
      display: block;
      font-family: 'Ubuntu';
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 16.09px;
      color: #D7D7D7;
      text-align: end; }
      .row__column__mail:active, .row__column__mail:visited, .row__column__mail:hover {
        color: #D7D7D7; }
    .row__column__link {
      position: relative;
      font-family: 'Ubuntu';
      font-weight: 500;
      font-style: normal;
      color: #BB669B;
      font-size: 14px;
      line-height: 19px;
      text-decoration-line: underline;
      padding: 0 0 0 30px;
      text-decoration: none;
      font-size: 12px;
      font-family: 'Ubuntu';
      font-weight: 400;
      font-style: normal; }
      .row__column__link:visited, .row__column__link:active, .row__column__link:hover {
        color: #BB669B; }
      .row__column__link::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 100%;
        background: url("../../img/next-arrow.svg") center no-repeat; }
      .row__column__link::before {
        display: none; }
      .row__column__link_1 {
        padding: 0;
        text-align: left; }
      .row__column__link_2 {
        display: block;
        text-align: end; }
    .row__column__copyright {
      font-family: 'Ubuntu';
      font-weight: 400;
      font-style: normal;
      color: #979797;
      font-size: 12px;
      line-height: 17.76px; }

.send {
  display: flex; }
  .send__input {
    padding: 16px 0px 16px 18px;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: normal;
    background: #363636;
    color: #6D6D6D; }
  .send__button {
    padding: 12px;
    background: #BB669B; }

.news__card {
  margin-bottom: 117px; }

.news-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }
  .news-card__photo {
    width: 100%;
    height: 393.71px;
    position: relative;
    z-index: 9; }
  .news-card__info {
    position: relative;
    max-width: 980px;
    padding: 33px 62px 12px 62px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
    transform: translateY(-10%);
    background: #fff;
    z-index: 10; }
  .news-card__header {
    font-family: 'Vollkorn';
    font-weight: 700;
    font-style: normal;
    line-height: 22.4px;
    font-size: 16px;
    color: #252525; }
  .news-card__text {
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19.6px;
    color: #848484; }
    .news-card__text_short {
      margin: 60px 0 120px 0; }
    .news-card__text_full {
      margin: 0 0 70px 0; }
  .news-card__navigation {
    display: flex;
    justify-content: space-around; }
  .news-card__view {
    display: block;
    position: relative;
    background: #fff;
    color: #BB669B;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 16.49px;
    padding-right: 20px; }
    .news-card__view::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 12px;
      height: 15px;
      background: url("../../img/arrow-down.svg") center no-repeat;
      background-size: contain;
      transform: translateY(20%); }
  .news-card__date {
    display: block;
    font-size: 13px;
    position: relative;
    padding-left: 45px; }
    .news-card__date::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      background: url("../../img/calendar.svg") center no-repeat;
      background-size: cover;
      transform: translateY(-25%); }

.wrapper {
  display: flex; }

.container {
  width: 1024px;
  margin: 0 auto; }

.content {
  flex: 1 1 auto; }

.hide {
  display: none; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

.sorry {
  font-size: 50px; }

.list {
  counter-reset: li;
  list-style: none; }
  .list__item {
    padding: 30px 0px 30px 0px;
    border-top: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC; }
    .list__item.active {
      background: #BB669B;
      border-top: 1px solid #BB669B;
      border-bottom: 1px solid #BB669B; }
    .list__item__block {
      padding-left: 80px;
      max-width: 80%; }
  .list__header {
    padding-left: 80px;
    position: relative;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 18.85px;
    display: flex;
    justify-content: space-between; }
    .list__header.active {
      color: #ffffff; }
      .list__header.active::before {
        color: #F6BDE1; }
    .list__header:hover {
      cursor: pointer; }
    .list__header::before {
      content: "0" counter(li);
      counter-increment: li;
      position: absolute;
      color: #EFEFEF;
      font-size: 37px;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal;
      top: 0;
      left: 0;
      transform: translateX(50%); }
  .list__navigate {
    position: relative;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-style: normal;
    color: #BB669B;
    margin: 0 0 0 55px;
    padding: 0 40px 0 0; }
    .list__navigate:hover {
      cursor: pointer; }
    .list__navigate::after {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      content: "";
      width: 10px;
      height: 20px;
      background: url("../../img/arrow-down.svg") center no-repeat;
      transform: translateX(-150%); }
    .list__navigate.active {
      color: #F6BDE1; }
      .list__navigate.active::after {
        background: url("../../img/arrow-up.svg") center no-repeat; }
  .list__text {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 19.71px; }

.sublist {
  list-style: none;
  counter-reset: li;
  margin-top: 30px; }
  .sublist__item {
    position: relative;
    padding: 30px 0px 30px 0px;
    margin: 0 25px 0 80px;
    border-top: 1px solid #C682AC;
    border-bottom: 1px solid #C682AC; }
    .sublist__item.active .sublist__title {
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal;
      color: #ffffff; }
  .sublist__title {
    position: relative;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 18.85px;
    display: flex;
    justify-content: space-between;
    color: #ffffff; }
    .sublist__title::before {
      counter-increment: li;
      content: counters(li, ".");
      position: absolute;
      color: #F6BDE1;
      font-family: 'Ubuntu';
      font-weight: 700;
      font-style: normal;
      font-size: 16px;
      top: 0;
      left: 0;
      transform: translateX(-200%); }
  .sublist__navigate {
    display: block;
    margin: 0 0 0 43px; }
    .sublist__navigate::after {
      content: "Открыть";
      display: block;
      color: #ffffff;
      font-size: 14px;
      font-family: 'Ubuntu';
      font-weight: 400;
      font-style: normal;
      border: 1px solid #FFFFFF;
      background: #BB669B;
      padding: 7px 22px; }
    .sublist__navigate.active::after {
      content: "Закрыть"; }
    .sublist__navigate:hover {
      cursor: pointer; }

.card {
  padding: 31px 99px 34px 40px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  margin-bottom: 15px; }
  .card__header {
    display: flex;
    align-items: center;
    margin-bottom: 13px; }
  .card__title {
    font-family: 'Ubuntu';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    line-height: 18.38px;
    margin-left: 11px; }
  .card__text {
    color: #707070;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 22.4px; }
  .card__navigate {
    display: block;
    position: relative;
    height: 16px;
    margin-top: 16px; }
    .card__navigate:hover {
      cursor: pointer; }
    .card__navigate::before {
      content: "Читать подробнее";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      color: #BB669B;
      font-family: 'Ubuntu';
      font-weight: 500;
      font-style: normal;
      font-size: 14px;
      line-height: 16.49px; }
    .card__navigate::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 137px;
      background: url("../../img/arrow-down.svg") center no-repeat;
      height: 100%;
      width: 10px;
      transform: translateY(20%); }
    .card__navigate.active::after {
      left: 75px;
      transform: translateY(20%) rotate(180deg); }
    .card__navigate.active::before {
      content: "Свернуть"; }

.form__row {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .form__row_inputs {
    margin-bottom: 15px; }
  .form__row_check {
    justify-content: center;
    margin-bottom: 24px; }
  .form__row_button {
    justify-content: center; }

.form__column {
  display: flex;
  flex-direction: column;
  text-align: start; }

.form__label {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14.4px;
  margin-bottom: 10px; }

.form__input {
  background: rgba(51, 51, 51, 0.53);
  border: 1px solid #565656;
  padding: 17px 60px 17px 20px;
  color: #828282;
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.49px; }

.form__checkbox {
  display: none; }
  .form__checkbox:checked + .checkbox__label::before {
    background: url("../../img/checked.svg") center no-repeat;
    border: 1px solid #BB669B; }

.form__button {
  color: #ffffff;
  background: #BB669B;
  padding: 16px 46px;
  font-size: 15px;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-style: normal;
  line-height: 22.2px; }
  .form__button:hover {
    cursor: pointer; }

.link {
  color: #BB669B; }
  .link:visited, .link:active, .link:hover {
    color: #BB669B; }
  .link:hover {
    text-decoration: underline; }

.checkbox__label {
  display: block;
  position: relative;
  padding-left: 18px;
  max-width: 290px;
  text-align: start;
  font-size: 12px; }
  .checkbox__label::before {
    content: "";
    display: block;
    background: #2B2B2B;
    border: 1px solid #727272;
    color: #BB669B;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    transform: translateY(25%); }
  .checkbox__label:hover {
    cursor: pointer; }

.open-button {
  display: block; }
  .open-button::after {
    content: "Читать далее";
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Ubuntu';
    font-weight: 400;
    font-style: normal;
    border: 1px solid #FFFFFF;
    background: #BB669B;
    padding: 7px 22px; }
  .open-button.active::after {
    content: "Скрыть"; }
  .open-button:hover {
    cursor: pointer; }
