{% extends "base.html" %}
{% load static %}


{% block content %}

    <!--Блок подробнее о нас-->
    <div class="about">
        <div class="container">
            <h2 class="about__header">
                Подробнее о нас
            </h2>
            {% for card in cards  %}
            <div class="about__card card">
                <div class="card__header">
                    {% if card.ico %}
                        <img src="{{ card.ico.url }}" alt="" class="card__ico">
                    {% endif %}
                    <h3 class="card__title">{{card.name}}</h3>
                </div>
                <p class="card__text short">{{card.short_text}}</p>
                <p class="card__text full hide">
                    {{card.full_text}}
                </p>
                <p class="card__navigate"></p>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--Конец блока-->

    {% include "include/feedback.html" %}

    <!--Начало блока с партнерами-->
    <div class="partners">
        <div class="container">
            <h2 class="partners__header">Наши постоянные партнеры</h2>
            <div class="partners__slider" id="slider-3">
                <div class="partners__item">
                    <div class="partners__item__content">
                        <img src="{% static 'img/invamed.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/sivevo.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/medicom.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/razvitie.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item">
                    <div class="partners__item__content">
                        <img src="{% static 'img/invamed.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/sivevo.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/medicom.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/razvitie.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__navigate">
                <p class="num" id="slider-nav-3">
                    <span class="num__this">01</span>
                    /
                    <span class="num__all">03</span>
                </p>
            </div>
        </div>
    </div>
    <!--Конец блока-->
{% endblock %}