{% extends "base.html" %}
{% load static %}


{% block content %}

    <!--Блок подробнее о нас-->
    <div class="about">
        <div class="container">
            <h2 class="about__header">
                Подробнее о нас
            </h2>
            <div class="about__card card">
                <div class="card__header">
                    <img src="{% static 'img/info-ico.svg' %}" alt="" class="card__ico">
                    <h3 class="card__title">Информация о нашей компании</h3>
                </div>
                <p class="card__text short">1GLAb – лаборатория, оснащённая самым современным оборудованием, выполняет широкий спектр исследований генетического материала в медицинских и немедицинских целях для заинтересованных организаций.</p>
                <p class="card__text full hide">
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Залетают буквоград lorem, путь использовало необходимыми ручеек о инициал большого наш подзаголовок лучше пустился алфавит вопроса свою букв сбить буквенных.
                </p>
                <p class="card__navigate"></p>
            </div>
            <div class="about__card card">
                <div class="card__header">
                    <img src="{% static 'img/handsshake.svg' %}" alt="" class="card__ico">
                    <h3 class="card__title">Преимущества партнёрства</h3>
                </div>
                <p class="card__text short">
                    Уникальная особенность и ключевое отличие Лаборатории от аналогичных компаний – гибкость в реализации любых исследовательских целей. Все процессы в 1GLAb  построены таким образом, что имеется возможность быстро спланировать и провести необходимые исследования даже для одного клиента с уникальным набором потребностей.
                    </p>
                <p class="card__text full hide">
                    Разнообразное оборудование и технологии, перенесённые из лучших лабораторий мира, позволяют быстро проводить исследования, по качеству не уступающие результатам работы лидеров глобального рынка.
                </p>
                <p class="card__navigate"></p>
            </div>
            <div class="about__card card">
                <div class="card__header">
                    <img src="{% static 'img/healthhome.svg' %}" alt="" class="card__ico">
                    <h3 class="card__title">Сотрудничество с медицинскими центрами</h3>
                </div>
                <p class="card__text short">На базе нашей лаборатории возможно проведение диагностики наиболее распространенных в  наследственных заболеваний и состояний (спинальной амиотрофии, синдрома Жильбера и др.), тестов на предрасположенность к онкологической патологии и многих других молекулярно-генетических исследований.</p>
                <p class="card__text full hide">
                    Разнообразное оборудование и технологии, перенесённые из лучших лабораторий мира, позволяют быстро проводить исследования, по качеству не уступающие результатам работы лидеров глобального рынка.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos aperiam molestiae ullam iste itaque. Aut, consectetur facilis? Quod laboriosam voluptates saepe itaque? Commodi temporibus ipsa soluta eligendi? Veritatis, excepturi. Inventore.
                </p>
                <p class="card__navigate"></p>
            </div>
        </div>
    </div>
    <!--Конец блока-->

    <!--Блок с обратной связью-->
        <div class="feedback">
            <div class="container">
                <h2 class="feedback__title">Остались вопросы или предложения?</h2>
                <h3 class="feedback__subtitle">
                    Заполните заявку на обратную связь с нами, и мы свяжемся с Вами в ближайшее время
                </h3>
                <form action="" method="POST" class="feedback__form form">
                    <div class="form__row form__row_inputs">
                        <div class="form__column">
                            <label for="form__name" class="form__label">Введите Ваше имя:</label>
                            <input type="text" class="form__input" id="form__name" name="name" placeholder="Иванов Иван">
                        </div>
                        <div class="form__column">
                            <label for="form__phone" class="form__label">Ваш номер телефона:</label>
                            <input type="tel" class="form__input" id="form__phone" name="phone" placeholder="+7 (906) 222 - 33 - 44">
        
                        </div>
                        <div class="form__column">
                            <label for="form__email" class="form__label">Ваш e-mail:</label>
                            <input type="" class="form__input" id="form__email" name="email" placeholder="example@mail.com">
                        </div>
                    </div>
                    <div class="form__row form__row_check">
                        <input type="checkbox" class="form__checkbox" id="form__personal">
                        <label for="form__personal" class="checkbox__label">Вы принимаете условия обеспечения  <a href="#" class="link">конфиденциальности персональных</a> данных</label>
                    </div>
                    <div class="form__row form__row_button">
                        <input type="submit" class="form__button" placeholder="Оставить заявку">
                    </div>
                </form>
            </div>
        </div>
    <!--Конец блока-->

    <!--Начало блока с партнерами-->
    <div class="partners">
        <div class="container">
            <h2 class="partners__header">Наши постоянные партнеры</h2>
            <div class="partners__slider" id="slider-3">
                <div class="partners__item">
                    <img src="{% static 'img/invamed.png' %}" alt="">
                </div>
                <div class="partners__item ">
                    <img src="{% static 'img/sivevo.png' %}" alt="">
                </div>
                <div class="partners__item ">
                    <img src="{% static 'img/medicom.png' %}" alt="">
                </div>
                <div class="partners__item ">
                    <img src="{% static 'img/razvitie.png' %}" alt="">
                </div>
                <div class="partners__item">
                    <img src="{% static 'img/invamed.png' %}" alt="">
                </div>
                <div class="partners__item ">
                    <img src="{% static 'img/sivevo.png' %}" alt="">
                </div>
                <div class="partners__item ">
                    <img src="{% static 'img/invamed.png' %}" alt="">
                </div>
                <div class="partners__item ">
                    <img src="{% static 'img/razvitie.png' %}" alt="">
                </div>
            </div>
            <div class="partners__navigate">
                <p class="num" id="slider-nav-3">
                    <span class="num__this">01</span>
                    /
                    <span class="num__all">03</span>
                </p>
            </div>
        </div>
    </div>
    <!--Конец блока-->
{% endblock %}