{% extends "base.html" %}
{% load static %}


{% block content %}

    <!--Блок подробнее о нас-->
    <div class="about">
        <div class="container">
            <h2 class="about__header">
                Подробнее о нас
            </h2>
            {% for card in cards  %}
            <div class="about__card card">
                <div class="card__header">
                    {% if card.ico %}
                        <img src="{{ card.ico.url }}" alt="" class="card__ico">
                    {% endif %}
                    <h3 class="card__title">{{card.name}}</h3>
                </div>
                <p class="card__text short">{{card.short_text}}</p>
                <p class="card__text full hide">
                    {{card.full_text}}
                </p>
                <p class="card__navigate"></p>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--Конец блока-->

    <!--Блок с обратной связью-->
        <div class="feedback">
            <div class="container">
                <h2 class="feedback__title">Остались вопросы или предложения?</h2>
                <h3 class="feedback__subtitle">
                    Заполните заявку на обратную связь с нами, и мы свяжемся с Вами в ближайшее время
                </h3>
                <form action="" method="POST" class="feedback__form form">
                    <div class="form__row form__row_inputs">
                        <div class="form__column">
                            <label for="form__name" class="form__label">Введите Ваше имя:</label>
                            <input type="text" class="form__input" id="form__name" name="name" placeholder="Иванов Иван">
                        </div>
                        <div class="form__column">
                            <label for="form__phone" class="form__label">Ваш номер телефона:</label>
                            <input type="tel" class="form__input" id="form__phone" name="phone" placeholder="+7 (906) 222 - 33 - 44">
        
                        </div>
                        <div class="form__column">
                            <label for="form__email" class="form__label">Ваш e-mail:</label>
                            <input type="" class="form__input" id="form__email" name="email" placeholder="example@mail.com">
                        </div>
                    </div>
                    <div class="form__row form__row_check">
                        <input type="checkbox" class="form__checkbox" id="form__personal">
                        <label for="form__personal" class="checkbox__label">Вы принимаете условия обеспечения  <a href="#" class="link">конфиденциальности персональных</a> данных</label>
                    </div>
                    <div class="form__row form__row_button">
                        <input type="submit" class="form__button" placeholder="Оставить заявку">
                    </div>
                </form>
            </div>
        </div>
    <!--Конец блока-->

    <!--Начало блока с партнерами-->
    <div class="partners">
        <div class="container">
            <h2 class="partners__header">Наши постоянные партнеры</h2>
            <div class="partners__slider" id="slider-3">
                <div class="partners__item">
                    <div class="partners__item__content">
                        <img src="{% static 'img/invamed.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/sivevo.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/medicom.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/razvitie.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item">
                    <div class="partners__item__content">
                        <img src="{% static 'img/invamed.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/sivevo.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/medicom.png' %}" alt="">
                    </div>
                </div>
                <div class="partners__item ">
                    <div class="partners__item__content">
                        <img src="{% static 'img/razvitie.png' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="partners__navigate">
                <p class="num" id="slider-nav-3">
                    <span class="num__this">01</span>
                    /
                    <span class="num__all">03</span>
                </p>
            </div>
        </div>
    </div>
    <!--Конец блока-->
{% endblock %}