{% extends "base.html" %}
{% load static %}


{% block content %}
  


    <div class="search">
        <div class="container">
            <h2 class="search__header">Интересует конкретная услуга?</h2>
            <p class="search__text">Введите ее название в строку поиска, чтобы найти нужное исследование</p>
            <form method="GET" class="search__item" data-url="{% url 'search' %}" id="search">
                <input type="text" placeholder="Поиск исследования" class="search__item__input" name="q" autocomplete="off">
                <button class="search__item__button" type="submit">
                    Найти исследование
                </button>
                <ul class="search__list">
                </ul>
            </form>
            <p class="search__description">Например: ПГТ хромосомных анеуплоидий</p>
        </div>
    </div>

    <!--Блок с исследованиями-->

    <div class="researches">
        <div class="container">
            <h2 class="researches__header">Основные направления исследований лаборатории</h2>
            <div class="researches__items">
               {% for a in main_researches %}
                <div class="researches__items__item research">
                    <h3 class="research__header">{{a.name}}</h3>
                    {% for b in a.types.all %}
                        <hr class="research__underline">
                            <a href="{% url 'research-type' slug=b.slug %}" class="research__name">{{b.name}}</a>
                        <hr class="research__underline">
                    {% endfor %}

                </div>
               {% endfor %}
            </div>
        </div>
    </div>
    <!--Конец блока-->

    <!--Блок с часто-задаваемыми вопрсами-->
    <div class="questions">
        <div class="container">
            <h2 class="questions__header">Ответы на часто задаваемые вопросы</h2>
            <ol class="questions__list list">
                {% for a in questions  %}
                <li class="questions__list__header list__item  list__item">
                    <h3 class="list__item__question list__header">
                        {{ a.question }}
                        <span class="list__item__question__button list__navigate">Подробнее</span>
                    </h3>
                    <div class="list__item__answer list__item__content hide">
                        <p class="list__item__answer_header">
                            Ответ:
                        </p>
                        <p class="list__item__answer_text">
                            {{ a.answer }}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ol>
            <div class="questions__row">
                <a href="#" class="questions__row__button">Задать свой вопрос</a>
                <a href="{% url 'questions' %}" class="questions__row__link">Читать другие ответы на вопросы</a>
            </div>
        </div>
    </div>
    <!--Конец блока-->

    {% include "include/steps.html" %}
    <!--Начало блока с новостями-->
    <div class="news">
        <div class="container">
            <h2 class="news__header">
                Новости нашей лаборатории
            </h2>
            <!--Слайдер-->
            <div class="news__slider slider" id="slider-2">
                {% for a in news  %}
                    <div class="slider__item slide">
                        <div class="slide__content">
                            <div class="slide__content__image ibg"><img src="{{a.img.url}}" alt=""></div>
                            <div class="slide__content__text">
                                <h3 class="slide__content__text__header">{{a.title}}</h3>
                                <p class="slide__content__text__description">{{a.text}}</p>
                                <div class="slide__content__text__more">
                                    <a href="#" class="slide__content__text__more__button">Читать подробнее</a>
                                    <span class="slide__content__text__more__date">{{a.date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item slide">
                        <div class="slide__content">
                            <div class="slide__content__image ibg"><img src="{{a.img.url}}" alt=""></div>
                            <div class="slide__content__text">
                                <h3 class="slide__content__text__header">{{a.title}}</h3>
                                <p class="slide__content__text__description">{{a.text}}</p>
                                <div class="slide__content__text__more">
                                    <a href="#" class="slide__content__text__more__button">Читать подробнее</a>
                                    <span class="slide__content__text__more__date">{{a.date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--Конец слайдера-->
            <div class="news__navigate">
                <p class="num" id="slider-nav-2">
                    <span class="num__this">01</span>
                    /
                    <span class="num__all">03</span>
                </p>
            </div>
            <div class="news__button">
                <a href="" class="news__button__link">Читать все публикации</a>
            </div>
        </div>
    </div>
    <!--Конец блока-->
{% endblock %}