{% extends "base.html" %}
{% load static %}


{% block content %}
  
    <div class="search">
        <div class="container">
            <h2 class="search__header">Интересует конкретная услуга?</h2>
            <p class="search__text">Введите ее название в строку поиска, чтобы найти нужное исследование</p>
            <div class="search__item">
                <input type="text" placeholder="Поиск исследования" class="search__item__input">
                <button class="search__item__button">
                    Найти исследование
                </button>
            </div>
            <p class="search__description">Например: ПГТ хромосомных анеуплоидий</p>
        </div>
    </div>

    <!--Блок с исследованиями-->

    <div class="researches">
        <div class="container">
            <h2 class="researches__header">Основные направления исследований лаборатории</h2>
            <div class="researches__items">
                <div class="researches__items__item research">
                    <h3 class="research__header">Пре­им­план­та­ци­он­ное ге­не­ти­че­ское те­сти­ро­ва­ние</h3>
                    <hr class="research__underline">
                    <a href="#" class="research__name">ПГТ хромосомных анеуплоидий</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">ПГТ хромосомных перестроек</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">ПГТ моногенных заболеваний</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">ПГТ резус-фактора эмбрионов</a>
                    <hr class="research__underline">
                </div>
                <div class="researches__items__item research">
                    <h3 class="research__header">Бесплодие. Диагностика и рекомендации</h3>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Какие исследования провести, если не наступает беременность</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Подготовка к беременности</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Невынашивание беременности</a>
                    <hr class="research__underline">
                </div>
                <div class="researches__items__item research">
                    <h3 class="research__header">Беременность и сопровождение на всех этапах</h3>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Неинвазивное пренатальное тестирование</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Пренатальная диагностика</a>
                    <hr class="research__underline">
                </div>
                <div class="researches__items__item research">
                    <h3 class="research__header">Генети­ческие
                        исследова­ния Lifestyle</h3>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Спортивная генетика</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Эстетическая генетика</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Нутригенетика</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Этническое происхождение</a>
                    <hr class="research__underline">
                </div>
                <div class="researches__items__item research">
                    <h3 class="research__header">Профи­лактика заболеваний</h3>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Моногенные заболевания</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Клинический экзом</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Соматические заболевания</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Фармакогенетика</a>
                    <hr class="research__underline">
                </div>
                <div class="researches__items__item research">
                    <h3 class="research__header">Онко­логия - диагностика, профилактика и рекомендации</h3>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Диагностика наследственных онкологических синдромов</a>
                    <hr class="research__underline">
                    <a href="#" class="research__name">Генетическое типирование опухоли</a>
                    <hr class="research__underline">
                </div>
            </div>
        </div>
    </div>
    <!--Конец блока-->

    <!--Блок с часто-задаваемыми вопрсами-->
    <div class="questions">
        <div class="container">
            <h2 class="questions__header">Ответы на часто задаваемые вопросы</h2>
            <ol class="questions__list list">
                {% for a in questions  %}
                <li class="questions__list__header list__item  list__item">
                    <h3 class="list__item__question list__header">
                        {{ a.question }}
                        <span class="list__item__question__button list__navigate">Подробнее</span>
                    </h3>
                    <div class="list__item__answer list__item__content hide">
                        <p class="list__item__answer_header">
                            Ответ:
                        </p>
                        <p class="list__item__answer_text">
                            {{ a.answer }}
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ol>
            <div class="questions__row">
                <a href="#" class="questions__row__button">Задать свой вопрос</a>
                <a href="{% url 'questions' %}" class="questions__row__link">Читать другие ответы на вопросы</a>
            </div>
        </div>
    </div>
    <!--Конец блока-->

    {% include "include/steps.html" %}
    <!--Начало блока с новостями-->
    <div class="news">
        <div class="container">
            <h2 class="news__header">
                Новости нашей лаборатории
            </h2>
            <!--Слайдер-->
            <div class="news__slider slider" id="slider-2">
                {% for a in news  %}
                    <div class="slider__item slide">
                        <div class="slide__content">
                            <div class="slide__content__image ibg"><img src="{{a.img.url}}" alt=""></div>
                            <div class="slide__content__text">
                                <h3 class="slide__content__text__header">{{a.title}}</h3>
                                <p class="slide__content__text__description">{{a.text}}</p>
                                <div class="slide__content__text__more">
                                    <a href="#" class="slide__content__text__more__button">Читать подробнее</a>
                                    <span class="slide__content__text__more__date">{{a.date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider__item slide">
                        <div class="slide__content">
                            <div class="slide__content__image ibg"><img src="{{a.img.url}}" alt=""></div>
                            <div class="slide__content__text">
                                <h3 class="slide__content__text__header">{{a.title}}</h3>
                                <p class="slide__content__text__description">{{a.text}}</p>
                                <div class="slide__content__text__more">
                                    <a href="#" class="slide__content__text__more__button">Читать подробнее</a>
                                    <span class="slide__content__text__more__date">{{a.date}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!--Конец слайдера-->
            <div class="news__navigate">
                <p class="num" id="slider-nav-2">
                    <span class="num__this">01</span>
                    /
                    <span class="num__all">03</span>
                </p>
            </div>
            <div class="news__button">
                <a href="" class="news__button__link">Читать все публикации</a>
            </div>
        </div>
    </div>
    <!--Конец блока-->
{% endblock %}