{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="questions">
    <div class="container">
        <h2 class="questions__header">Ответы на часто задаваемые вопросы</h2>
        <ol class="questions__list list">
            <li class="list__item active">
                <h3 class="list__item__question active">
                    Какие исследования провести, если не наступает беременность?
                    <span class="list__item__question__button active">Подробнее</span>
                </h3>
                <div class="list__item__answer">
                    <p class="list__item__answer_header">
                        Ответ:
                    </p>
                    <p class="list__item__answer_text">
                        Добрый день! В данной ситуации мы рекомендуем провести диагностику хромосомной патологии при неразвивающейся беременности методом хромосомно-микроматричного анализа. В нашей лаборатории данное исследование называется «КРЕДО». Срок проведения исследования 14 рабочих дней. По результатам исследования Вы сможете получить бесплатную консультацию врача-генетика в нашем центре.
                    </p>
                </div>
            </li>
            <li class="list__item">
                <h3 class="list__item__question">
                    У супруги неразвивающаяся (замершая) беременность, предстоит выскабливание. Прочитал что необходимо провести исследование (ХМА, цитогенетическое). Когда и как это можно сделать?
                    <span class="list__item__question__button">Подробнее</span>
                </h3>
                <div class="list__item__answer hide">
                    <p class="list__item__answer_header">
                        Ответ:
                    </p>
                    <p class="list__item__answer_text">
                        Добрый день! В данной ситуации мы рекомендуем провести диагностику хромосомной патологии при неразвивающейся беременности методом хромосомно-микроматричного анализа. В нашей лаборатории данное исследование называется «КРЕДО». Срок проведения исследования 14 рабочих дней. По результатам исследования Вы сможете получить бесплатную консультацию врача-генетика в нашем центре.
                    </p>
                </div>
            </li>
            <li class="list__item">
                <h3 class="list__item__question">
                    Можно ли исправить генетику эмбрионов?
                    <span class="list__item__question__button">Подробнее</span>
                </h3>
                <div class="list__item__answer hide">
                    <p class="list__item__answer_header">
                        Ответ:
                    </p>
                    <p class="list__item__answer_text">
                        Добрый день! В данной ситуации мы рекомендуем провести диагностику хромосомной патологии при неразвивающейся беременности методом хромосомно-микроматричного анализа. В нашей лаборатории данное исследование называется «КРЕДО». Срок проведения исследования 14 рабочих дней. По результатам исследования Вы сможете получить бесплатную консультацию врача-генетика в нашем центре.
                    </p>
                </div>
            </li>
            <li class="list__item">
                <h3 class="list__item__question">
                    Как подготовиться к проведению анализов на генетику?
                    <span class="list__item__question__button">Подробнее</span>
                </h3>
                <div class="list__item__answer hide">
                    <p class="list__item__answer_header">
                        Ответ:
                    </p>
                    <p class="list__item__answer_text">
                        Добрый день! В данной ситуации мы рекомендуем провести диагностику хромосомной патологии при неразвивающейся беременности методом хромосомно-микроматричного анализа. В нашей лаборатории данное исследование называется «КРЕДО». Срок проведения исследования 14 рабочих дней. По результатам исследования Вы сможете получить бесплатную консультацию врача-генетика в нашем центре.
                    </p>
                </div>
            </li>
            <li class="list__item">
                <h3 class="list__item__question">
                    Неинвазивное пренатальное тестирование. С чего начать?
                    <span class="list__item__question__button">Подробнее</span>
                </h3>
                <div class="list__item__answer hide">
                    <p class="list__item__answer_header">
                        Ответ:
                    </p>
                    <p class="list__item__answer_text">
                        Добрый день! В данной ситуации мы рекомендуем провести диагностику хромосомной патологии при неразвивающейся беременности методом хромосомно-микроматричного анализа. В нашей лаборатории данное исследование называется «КРЕДО». Срок проведения исследования 14 рабочих дней. По результатам исследования Вы сможете получить бесплатную консультацию врача-генетика в нашем центре.
                    </p>
                </div>
            </li>
        </ol>
        <div class="questions__row">
            <a href="#" class="questions__row__button">Задать свой вопрос</a>
        </div>
    </div>
</div>

{% endblock %}