{% extends "base.html" %}
{% load static %}


{% block content %}
  
    <div class="researches">
        <div class="container">
            <h2 class="researches__header">Анализы и цены на услуги</h2>
            <ol class="researches__list list">
               {% for a in researches %}
               <li class="researches__list__item list__item">
                <h3 class="researches__list__item__header list__header">
                    {{a.name}}
                    <span class="researches__list__item__navigate list__navigate">Подробнее</span>
                </h3>
                <ol class="researches__sublist sublist hide">
                   {% for b in a.types.all  %}
                    <li class="researches__sublist__item sublist__item">  
                        <h4 class="researches__sublist__item__title sublist__title">
                          {{b.name}}
                            <span class="sublist__navigate"></span>
                        </h4> 
                        <br>
                        <ul class="sub-sub__list hide">
                            {% for c in b.methods.all %}
                            <li class="sub-sub__list__item">
                                <a href="#">
                                    <p class="sub-sub__list__item__name">{{c.name}}</p>
                                    <p class="sub-sub__list__item__days">до {{c.period}} 
                                    {% if c.period == 1 %}
                                        дня
                                    {% else %}
                                        дней    
                                    {% endif %} </p>
                                    <p class="sub-sub__list__item__price">{{c.price}} руб</p>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                   {% endfor %}
                </ol>
            </li>
               {% endfor %}
                
            </ol>
            
        </div>
    </div>







    {% include "include/steps.html" %}
{% endblock %}