{% extends "base.html" %}
{% load static %}


{% block content %}
  
    <div class="researches">
        <div class="container">
            <h2 class="researches__header">Анализы и цены на услуги</h2>
            <ol class="researches__list list">
                <li class="researches__list__item list__item">
                    <h3 class="researches__list__item__header list__header">
                        Преимплантационное генетическое тестирование
                        <span class="researches__list__item__navigate list__navigate">Подробнее</span>
                    </h3>
                    <ol class="researches__sublist sublist hide">
                        <li class="researches__sublist__item sublist__item">  
                            <h4 class="researches__sublist__item__title sublist__title">
                                Неинвазивное пренатальное тестирование хромосомной патологии плода и других его состояний - пренатальный скрининг
                                <span class="sublist__navigate"></span>
                            </h4> 
                             <br>
                            <ul class="sub-sub__list hide">
                                <li class="sub-sub__list__item">
                                    <a href="#">
                                        <p class="sub-sub__list__item__name">«Кредо 5» - пренатальная диагностика частых хромосомных анеуплоидий (13, 18, 21, X и Y хромосомы, qPCR)</p>
                                        <p class="sub-sub__list__item__days">до 14 дней</p>
                                        <p class="sub-sub__list__item__price">8000 руб</p>
                                    </a>
                                </li>
                                <br>
                                <li class="sub-sub__list__item">
                                    <a href="#">
                                        <p class="sub-sub__list__item__name">«Кредо 5» - пренатальная диагностика частых хромосомных анеуплоидий (13, 18, 21, X и Y хромосомы, qPCR)</p>
                                        <p class="sub-sub__list__item__days">до 14 дней</p>
                                        <p class="sub-sub__list__item__price">8000 руб</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="researches__sublist__item sublist__item">  
                            <h4 class="researches__sublist__item__title sublist__title">
                                Неинвазивное пренатальное тестирование хромосомной патологии плода и других его состояний - пренатальный скрининг
                                <span class="sublist__navigate"></span>
                            </h4> 
                             <br>
                            <ul class="sub-sub__list hide">
                                <li class="sub-sub__list__item">
                                    <a href="#">
                                        <p class="sub-sub__list__item__name">«Кредо 5» - пренатальная диагностика частых хромосомных анеуплоидий (13, 18, 21, X и Y хромосомы, qPCR)</p>
                                        <p class="sub-sub__list__item__days">до 14 дней</p>
                                        <p class="sub-sub__list__item__price">8000 руб</p>
                                    </a>
                                </li>
                                <br>
                                <li class="sub-sub__list__item">
                                    <a href="#">
                                        <p class="sub-sub__list__item__name">«Кредо 5» - пренатальная диагностика частых хромосомных анеуплоидий (13, 18, 21, X и Y хромосомы, qPCR)</p>
                                        <p class="sub-sub__list__item__days">до 14 дней</p>
                                        <p class="sub-sub__list__item__price">8000 руб</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
                <li class="researches__list__item list__item">
                    <h3 class="researches__list__item__header list__header">
                        Пренатальное ДНК-тестирование
                        <span class="researches__list__item__navigate list__navigate">Подробнее</span>
                    </h3>
                    <ol class="researches__sublist sublist hide">
                        <li class="researches__sublist__item sublist__item">  
                            <h4 class="researches__sublist__item__title sublist__title">
                                Неинвазивное пренатальное тестирование хромосомной патологии плода и других его состояний - пренатальный скрининг
                                <span class="sublist__navigate"></span>
                            </h4> 
                             <br>
                            <ul class="sub-sub__list hide">
                                <li class="sub-sub__list__item">
                                    <a href="#">
                                        <p class="sub-sub__list__item__name">«Кредо 5» - пренатальная диагностика частых хромосомных анеуплоидий (13, 18, 21, X и Y хромосомы, qPCR)</p>
                                        <p class="sub-sub__list__item__days">до 14 дней</p>
                                        <p class="sub-sub__list__item__price">8000 руб</p>
                                    </a>
                                </li>
                                <br>
                                <li class="sub-sub__list__item">
                                    <a href="#">
                                        <p class="sub-sub__list__item__name">«Кредо 5» - пренатальная диагностика частых хромосомных анеуплоидий (13, 18, 21, X и Y хромосомы, qPCR)</p>
                                        <p class="sub-sub__list__item__days">до 14 дней</p>
                                        <p class="sub-sub__list__item__price">8000 руб</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="researches__sublist__item sublist__item">  
                            <h4 class="researches__sublist__item__title sublist__title">
                                Неинвазивное пренатальное тестирование хромосомной патологии плода и других его состояний - пренатальный скрининг
                                <span class="sublist__navigate"></span>
                            </h4> 
                             <br>
                            <ul class="sub-sub__list hide">
                                <li class="sub-sub__list__item">
                                    <a href="#">
                                        <p class="sub-sub__list__item__name">«Кредо 5» - пренатальная диагностика частых хромосомных анеуплоидий (13, 18, 21, X и Y хромосомы, qPCR)</p>
                                        <p class="sub-sub__list__item__days">до 14 дней</p>
                                        <p class="sub-sub__list__item__price">8000 руб</p>
                                    </a>
                                </li>
                                <br>
                                <li class="sub-sub__list__item">
                                    <a href="#">
                                        <p class="sub-sub__list__item__name">«Кредо 5» - пренатальная диагностика частых хромосомных анеуплоидий (13, 18, 21, X и Y хромосомы, qPCR)</p>
                                        <p class="sub-sub__list__item__days">до 14 дней</p>
                                        <p class="sub-sub__list__item__price">8000 руб</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </li>
            </ol>
            
        </div>
    </div>







    {% include "include/steps.html" %}
{% endblock %}